name: release

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  dockerhub-core:
    runs-on: ubuntu-latest
    steps:
      - name: Invoke runiac containers
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: dockerhub
          repo: runiac/docker
          token: ${{ secrets.RUNIAC_PAT }}
          ref: main
          inputs: '{ "ref": "${{ github.ref }}" }'

  goreleaser-cli:
    needs: dockerhub-core
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.7
      - name: Release CLI (GoReleaser)
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ github.token }}
          HOMEBREW_TAP_GITHUB_TOKEN: ${{ secrets.GIT_COMMITTER_TOKEN }}
