name: dryrun

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  goreleaser-dryrun:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.7
      - name: Release CLI (GoReleaser)
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean --skip=publish --snapshot
        env:
          GITHUB_TOKEN: ${{ github.token }}
          HOMEBREW_TAP_GITHUB_TOKEN: ${{ secrets.GIT_COMMITTER_TOKEN }}
